* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F8F8;
}

a {
  text-decoration: none;
  color: inherit;
  width: 100%
}

/* typography */

.brown{
  color: #D1CDC7;
}

.pink {
  color: #f6c2d9;
}

.yellow {
  color: #fff69b;
}

.bottom-line{
  border-bottom: 3px solid #fff69b;
}

.green {
  color: #bcdfc9;
}

.blue {
  color: #a1c8e9;
}

.gray {
  color: 	#e4dae2;
}

.logo span{
  font-size: 2rem;
}

/* Layout */

.flex {
  display: flex;
  justify-content: space-between;
}

.full-width {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.align-center{
  align-items: center;
}

.header {
  margin: 2em auto;
}

.btn {
  width: fit-content;
  padding: .5em 1em;
  border: none;
  border-radius: 5px;
  font-size: 1.3em;
  background-color: #F8F8F8;
  transition: background-color 200ms ease-in-out;
  color: #838383;
}

.btn:hover{
  background-color: #ececec;
}

.bg_success {
  background-color: #bcdfc9;
}

.bg_danger {
  background-color: #F08030;
}

.quill-container{
  margin-bottom: 1em;
}

.quill-editor{
  width: 100%;
  background-color: white;
}

.save-delete-container{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
}

.margin-left{
  margin-left: 1em;
}